<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Will Orr" />
    <meta name="description" content="worr's blog" />
    <meta name="msvalidate.01" content="0C1387200E83D55C86D503627450CA5D" />

    <link rel="icon" href="favicon.png">
    <link rel='stylesheet' type="text/css" href="/css/fonts.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <link rel="me" href="https://twitter.com/worr">
    <link rel="me" href="https://gitlab.com/worr">
    <link rel="me" href="https://github.com/worr">
    <link rel="me" href="mailto:will@worrbase.com">
    <link rel="me" href="https://bsd.network/@worr">
    <link rel="me" href="https://onwednesdayswewear.pink">
    <link rel="pgpkey authn" href="https://pgp.worr.pub">
    <link rel="webmention" href="https://webmention.io/worrbase.com/webmention">
    <link rel="pingback" href="https://webmention.io/worrbase.com/xmlrpc">
    <script type="text/javascript" src="/js/scripts.min.js"></script>
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script type="application/ld+json">{% block jsonld %}{% endblock jsonld %}</script>
</head>

<body id="body">
    <header>
        <h1>worrbase</h1>
        <nav>
            <a id="history">History</a>
            <a href="/">Tech Blog</a>
            <a href="https://onwednesdayswewear.pink/">Dev Blog</a>
            <a href="/games/">Games Blog</a>
            <a href="/about/">About</a>
        </nav>
    </header>
    <main>
        <aside id="aside">
            <a href="/rss.xml">Get RSS Feed</a>
            <ul>
                {%- set sectionname = page.components[0] %}
                {%- if sectionname == "about" %}
                {%- set sectionname = "blog" %}
                {%- endif %}
                {%- set blog = get_section(path=sectionname ~ "/_index.md") %}
                {%- for post in blog.pages | reverse %}
                <li><a href="/{{ post.path | safe }}">{{ post.title }}</a></li>
                {%- endfor %}
            </ul>
        </aside>
        {%- block content %} {%- endblock content %}
    </main>
    <footer>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </footer>
</body>

</html>
