{% extends "base.html" %}
{% block title %}worrbase - {{ page.title }}{% endblock title %}

{% block jsonld %}
{
"@context": "https://schema.org",
"@type": "BlogPosting",
"headline": "{{ page.title }}",
"dateCreated": "{{ page.date }}",
"dateModified": "{{ page.date }}",
"datePublished": "{{ page.date }}",
"articleBody": "{{ page.content|striptags }}",
"image": "https://worrbase.com/img/self.jpg",
"mainEntityOfPage": {
"@type": "WebPage",
"@id": "https://worrbase.com"
},
"publisher": {
"@type": "Person",
"name": "William Orr",
"email": "will@worrbase.com"
},
"author": {
"@type": "Person",
"name": "William Orr",
"email": "will@worrbase.com"
}
}
{% endblock jsonld %}

{% block content %}
                    <article id="article">
                        <h1>{{ page.title }}</h1>
                        <span class="date">{{ page.date }}</span>
                        <div>{{ page.content | safe }}</div>
                    </article>
{% endblock content %}
